<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/sweet-alert/sweet-alert.html">
<link rel="import" href="../bower_components/google-map/google-map.html">
<link rel="import" href="my-icons.html">

<link rel="lazy-import" href="my-inicial.html">
<link rel="lazy-import" href="my-login.html">
<link rel="lazy-import" href="my-logout.html">
<link rel="lazy-import" href="my-altacliente.html">
<link rel="lazy-import" href="my-datoscliente.html">
<link rel="lazy-import" href="my-cuentas.html">
<link rel="lazy-import" href="my-movimientos.html">
<!--<link rel="lazy-import" href="my-altamovimiento.html">-->
<link rel="lazy-import" href="my-altatransferencia.html">
<link rel="lazy-import" href="my-notificaciones.html">
<link rel="lazy-import" href="my-bienvenida.html">
<link rel="lazy-import" href="my-view404.html">

<dom-module id="my-app">
  <template>
    <style>
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;

        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }

      google-map {
        height: 400px;
      }

      img.bg {
        /* Stick it to the upper left hand corner */
        position: fixed;
        top: 0;
        left: 0;
        /* Make it stretch to any screen size */
        width: 100%;
        height: auto;
        min-height: 100%;
        /* set min-width to image width to maintain scale */
        min-width: 1024px;
        /* Make the deepest layer */
        z-index: -999;
      }
        @media screen and (max-width: 1024px) { /* recenter the image on smaller screens */
          img.bg {
            left: 50%;
            margin-left: -512px;   /* 50% */
          }
        }

    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <img class="bg" src="https://s3-eu-west-1.amazonaws.com/jtbank/JT_Fondo.jpg" alt="JT Bank">

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <app-drawer-layout fullbleed narrow="{{narrow}}">
      <!-- Drawer content -->
      <!--<app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]" hidden$="{{!logged}}">
        <app-toolbar>Menu</app-toolbar>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
          <a name="datoscliente" href="[[rootPath]]datoscliente">Tus Datos</a>
          <a name="cuentas" href="[[rootPath]]cuentas">Tus Cuentas</a>
          <a name="notificaciones" href="[[rootPath]]notificaciones">Tus Notificaciones</a>
        </iron-selector>
        <!--<<img src="https://s3-eu-west-1.amazonaws.com/jtbank/puente-azul.jpg" alt="JT Bank" height=175 width=175/>
        <address>
          <strong>JT Bank</strong><br>
          C/ Marojal<br>
          Madrid, 28050<br>
          <abbr title="Phone">Tel:</abbr> 91 537 79 99
        </address>
        <google-map latitude=40.5 longitude=-3.6 zoom="11"
            api-key="AIzaSyDEDwVAn84dUiKmKoHLkQoIssKwu46n_2Q">
            <google-map-marker latitude=40.500491 longitude=-3.6681971 title="JT Bank"></google-map-marker>
        </google-map>
      </app-drawer>-->

      <app-header-layout has-scrolling-region>

        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <div main-title>JT Bank</div>
            <a hidden$="{{logged}}"name="inicial" style="color: white" href="[[rootPath]]inicial">Inicio
              <paper-icon-button icon="my-icons:home" style="color: white"></paper-icon-button></a>
            <a hidden$="{{logged}}" name="login" style="color: white" href="[[rootPath]]login">Entrar
              <paper-icon-button icon="my-icons:input" style="color: white"></paper-icon-button></a>
            <a hidden$="{{logged}}" name="altacliente" style="color: white" href="[[rootPath]]altacliente">Alta Cliente
              <paper-icon-button icon="my-icons:account-box" style="color: white"></paper-icon-button></a>
            <a hidden$="{{!logged}}"name="bienvenida" style="color: white" href="[[rootPath]]bienvenida">Home
              <paper-icon-button icon="my-icons:home" style="color: white"></paper-icon-button></a>
            <a hidden$="{{!logged}}" name="logout" style="color: white" href="[[rootPath]]logout">Desconectar
              <paper-icon-button icon="my-icons:eject" style="color: white"></paper-icon-button></a>
          </app-toolbar>

          <nav class="navbar navbar-expand-sm bg-info navbar-dark justify-content-end" hidden$="{{!logged}}">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" name="datoscliente" href="[[rootPath]]datoscliente">Tus Datos</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" name="cuentas" href="[[rootPath]]cuentas">Tus Cuentas</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link"name="notificaciones" href="[[rootPath]]notificaciones">Tus Notificaciones</a>
              </li>
            </ul>
          </nav>
        </app-header>


        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="view404"
            role="main">
          <my-inicial name="inicial" logged={{logged}}></my-inicial>
          <my-login name="login" on-dologin="procesarLogin" on-cancelogin="cancelAltaLoginCliente"></my-login>
          <my-altacliente name="altacliente" on-altacliente="altaCliente" on-cancelaltacliente="cancelAltaLoginCliente"></my-altacliente>
          <my-datoscliente name="datoscliente" nombre={{nombre}} email={{email}} idcliente={{idcliente}} on-volverdatoscliente="volverDatosCliente"></my-datoscliente>
          <my-cuentas name="cuentas" nombre={{nombre}} idcliente={{idcliente}} ciudad={{ciudad}} email={{email}} saldo={{saldo}} on-vermovimientos="consultaMovimientos"></my-cuentas>
          <my-movimientos name="movimientos" idcliente={{idcliente}} nombre={{nombre}} email={{email}} cuentaid={{cuentaid}} iban={{iban}} saldo={{saldo}} on-vueltamovimientos="vueltamovimientos" on-transferencia="altatransferencia"></my-movimientos>
          <my-altatransferencia name="altatransferencia" idcliente={{idcliente}} nombre= {{nombre}} email={{email}} cuentaid={{cuentaid}} iban={{iban}} saldo={{saldo}} importe={{importe}} observaciones={{observaciones}} on-vueltaltatransferencia="consultaMovimientos"></my-altatransferencia>
          <my-notificaciones name="notificaciones" nombre={{nombre}} email={{email}} idcliente={{idcliente}}></my-notificaciones>
          <my-logout name="logout" email={{email}} on-dologout="procesarLogout"></my-logout>
          <my-bienvenida name="bienvenida" ciudad={{ciudad}} nombre={{nombre}}></my-bienvenida>
          <my-view404 name="view404"></my-view404>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>
  </template>

  <script>
    // Gesture events like tap and track generated from touch will not be
    // preventable, allowing for better scrolling performance.
    Polymer.setPassiveTouchGestures(true);

    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
          logged: {
            type: Boolean,
            value: false
          },
        }
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        this.page = page || 'inicial';

        // Close a non-persistent drawer when the page & route are changed.
        /*if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }*/
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        const resolvedPageUrl = this.resolveUrl('my-' + page + '.html');
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
      }

      altaCliente(e) {
        console.log("Evento front del Alta Cliente capturado");
        this.nombre = e.detail.nombre;
        this.idcliente = e.detail.idcliente;
        this.ciudad = e.detail.ciudad;
        this.email = e.detail.email;
        this.logged = true;
        this.page = "bienvenida";
      }

      cancelAltaLoginCliente(e) {
        console.log("Evento front del Cancel Alta/Login Cliente capturado");
        this.nombre = e.detail.nombre;
        this.idcliente = e.detail.idcliente;
        this.ciudad = e.detail.ciudad;
        this.email = e.detail.email;
        this.logged = false;
        this.page = "inicial";
      }

      volverDatosCliente(e) {
        console.log("Evento front de datos Cliente capturado");
        this.nombre = e.detail.nombre;
        this.idcliente = e.detail.idcliente;
        this.ciudad = e.detail.ciudad;
        this.email = e.detail.email;
        this.logged = true;
        this.page = "bienvenida";
      }

      procesarLogin(e) {
        console.log("Evento front del login capturado");
        this.nombre = e.detail.nombre;
        this.idcliente = e.detail.idcliente;
        this.email = e.detail.email;
        this.ciudad = e.detail.ciudad;
        this.logged = true;
        this.page = "bienvenida";
      }

      procesarLogout(e) {
        console.log("Evento front del logout capturado");
        this.logged = false;
        this.page = "inicial";
      }

      consultaMovimientos(e) {
        console.log("Evento de consulta Movimientos capturado");

        this.idcliente = e.detail.idcliente;
        this.nombre = e.detail.nombre;
        this.cuentaid = e.detail.cuentaid;
        this.iban = e.detail.iban;
        this.saldo = e.detail.saldo;
        this.email = e.detail.email;
        this.page = "movimientos";
      }

      /*altamovimiento(e) {
        console.log("Evento vuelta para alta de movimientos capturado");

        this.idcliente = e.detail.idcliente;
        this.nombre = e.detail.nombre;
        this.email = e.detail.email;
        this.cuentaid = e.detail.cuentaid;
        this.iban = e.detail.iban;
        this.saldo = e.detail.saldo;
        this.page = "altamovimiento";
      }*/

      altatransferencia(e) {
        console.log("Evento vuelta para alta de transf. capturado");

        this.idcliente = e.detail.idcliente;
        this.nombre = e.detail.nombre;
        this.email = e.detail.email;
        this.cuentaid = e.detail.cuentaid;
        this.iban = e.detail.iban;
        this.saldo = e.detail.saldo;
        this.importe = e.detail.importe;
        this.observaciones = e.detail.observaciones;
        this.page = "altatransferencia";
      }

      vueltamovimientos(e) {
        console.log("Evento vuelta de movimientos capturado");

        this.nombre = e.detail.nombre;
        this.idcliente = e.detail.idcliente;
        this.email = e.detail.email;
        this.logged = true;
        this.saldo = e.detail.saldo;
        this.page = "cuentas";
      }

      _showPage404() {
        this.page = 'view404';
      }
    }

    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>
