<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-altamovimiento">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class=row>
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <h1>Alta Nuevo Movimiento</h1>
          <h2>Cuenta: {{iban}} con saldo {{saldo}}</h2>
          <p>Introduzca los datos del nuevo movimento:</p>
      <!--<input type="text" placeholder="Tipo Movimiento" value="{{tipo::input}}"/>-->
      <select name="tipo" value="{{tipo::input}}">
        <option selected="true" disabled="disabled">Tipo de Movimiento</option>
        <option value="Ingreso de Efectivo">Ingreso de efectivo</option>
        <option value="Ingreso de Nomina">Ingreso de nómina</option>
        <option value="Retirada en efectivo">Retirada en efectivo</option>
        <option value="Transferencia">Transferencia</option>
      </select>
      <input type="text" size="15" placeholder="Importe" value="{{importe::input}}"/>
      <input type="text" size="30" placeholder="Observaciones" value="{{observaciones::input}}"/>
      <button class="btn btn-success" on-click="doaltamovimiento">Alta Movimiento</button>
      <button class="btn btn-success" on-click="cancelaraltamovimiento">Cancelar</button>
    </div>

    <iron-ajax
      id="doAltaMovimiento"
      method="POST"
      url="http://localhost:3000/jtbank/v1/cuenta/altamovimiento"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
  </template>

  <script>
    class MyAltaMovimiento extends Polymer.Element {
      static get is() { return 'my-altamovimiento'; }
      static get properties() {
        return {
          cuentaid: {
            type: Number
          },
          logged: {
            type: Boolean,
            value: false
          }
        }
      }

      doaltamovimiento() {
        console.log("Boton Alta Movimiento Pulsado");
        if (this.tipo == undefined){
         this.tipo = "Ingreso de Efectivo";
        }
        if (this.tipo === "Transferencia") {

          this.dispatchEvent(
            new CustomEvent(
              "transferencia",
              {
                "detail" : {
                  "cuentaid":this.cuentaid,
                  "idcliente":this.idcliente,
                  "nombre":this.nombre,
                  "email":this.email,
                  "iban":this.iban,
                  "saldo":this.saldo,
                  "importe":this.importe,
                  "observaciones":this.observaciones,
                }
              }
            )
          );
        } else {

            var altaMovimientoData = {
              "cuentaid": this.cuentaid,
              "tipo": this.tipo,
              "importe": this.importe,
              "observaciones": this.observaciones,
            };

            this.$.doAltaMovimiento.body = JSON.stringify(altaMovimientoData);
            this.$.doAltaMovimiento.generateRequest();
            console.log("Petición alta mov. enviada");
          }
      }

      manageAJAXResponse(data) {
        console.log("Respuesta Alta Mov. Recibida");

        this.importe = null;
        this.observaciones = null;

        this.dispatchEvent(
          new CustomEvent(
            "vueltaltamovimientos",
            {
              "detail" : {
                "cuentaid":this.cuentaid,
                "idcliente":this.idcliente,
                "nombre":this.nombre,
                "email":this.email,
                "iban":this.iban,
                "saldo":data.detail.response.saldopos,
              }
            }
          )
        );
      }

      cancelaraltamovimiento() {
        console.log("Se cancela el Alta del Mov.");

        this.importe = null;
        this.observaciones = null;

        this.dispatchEvent(
          new CustomEvent(
            "vueltaltamovimientos",
            {
              "detail" : {
                "cuentaid":this.cuentaid,
                "email":this.email,
                "idcliente":this.idcliente,
                "nombre":this.nombre,
                "iban":this.iban,
                "saldo":this.saldo,
              }
            }
          )
        );
      }

      showError(error)  {
        console.log("Hubo un error");
        console.log(error);
      }
    }

    window.customElements.define(MyAltaMovimiento.is, MyAltaMovimiento);
  </script>
</dom-module>
