<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-altatransferencia">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }

      .enlace {
        cursor:pointer
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <div class=row>
      <div class="col-md-9 offset-md-1">
        <div class="card">
          <div class=row>
            <div class="col-md-10">
              <h4>Alta Nueva Transferencia</h4>
              <br>
              <h5>Cuenta: <strong>{{iban}}</strong></h5>
              <h5>Saldo Actual: <strong>{{saldo}} &euro;</strong></h5>
              <h5>Importe a Transferir: <strong>{{importe}} &euro;</strong></h5>
              <h5>Observaciones: <strong>{{observaciones}}</strong></h5>
            </div>
            <div class="col-md-2">
              <button class="btn btn-warning" on-click="cancelaraltatransferencia">Cancelar</button>
            </div>
          </div>
          <br>
          <div class=row>
            <div class="col-md-8 offset-md-1">
              <p>Seleccione la cuenta destino de la transferencia pulsando sobre ella.</p>
            </div>
            <br><br>
            <div class="col-md-8 offset-md-2">
              <template is="dom-repeat" items="{{cuentastrans}}">
                <h5 id="fila" class="enlace" on-click="doaltatransferencia" data-cuentaid$={{item.cuentaid}} data-saldo$={{item.saldo}}>IBAN: {{item.iban}}  -  Saldo: {{item.saldo}} &euro;</h5>
                <br>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--url="http://localhost:3000/jtbank/v1/cliente/cuentas"-->
    <iron-ajax
      id="getCuentaTrans"
      url="http://imagenjtbankv4-cuentas-jtbank.7e14.starter-us-west-2.openshiftapps.com/jtbank/v1/cliente/cuentas"
      handle-as="json"
      on-response="muestraLasCuentasTrans"
      on-error="showError">

    <!--url="http://localhost:3000/jtbank/v1/cuenta/altamovimiento"-->
    <iron-ajax
      id="doBajaTransferencia"
      method="POST"
      url="http://imagenjtbankv4-altamovimiento-jtbank.7e14.starter-us-west-2.openshiftapps.com/jtbank/v1/cuenta/altamovimiento"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponseBaja"
      on-error="showError">

    <!--url="http://localhost:3000/jtbank/v1/cuenta/altamovimiento"-->
    <iron-ajax
      id="doAltaTransferencia"
      method="POST"
      url="http://imagenjtbankv4-altamovimiento-jtbank.7e14.starter-us-west-2.openshiftapps.com/jtbank/v1/cuenta/altamovimiento"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponseAlta"
      on-error="showError">
  </template>

  <script>
    class MyAltaTransferencia extends Polymer.Element {
      static get is() { return 'my-altatransferencia'; }
      static get properties() {
        return {
          idcliente: {
            type: Number,
            observer: '_buscarCuentasTrans',
          },
          saldo: {
            type: String,
            observer: '_buscarCuentasTrans',
          },
          logged: {
            type: Boolean,
            value: false
          }
        }
      }

      _buscarCuentasTrans(nueValue, antValue) {
          // If no page was found in the route data, page will be an empty string.
          // Default to 'view1' in that case.

          this.$.getCuentaTrans.headers.idcliente = this.idcliente;
          this.$.getCuentaTrans.generateRequest();
      }

      muestraLasCuentasTrans(data) {
        this.cuentastrans = data.detail.response;
        console.log(this.cuentastrans);
      }

      doaltatransferencia(cuentaSel) {
        console.log("Boton Alta Transferencia Pulsado");
        console.log("Primero alta de Mov en cuenta destino");
        console.log(cuentaSel.target.dataset);
        console.log("cuentaSel.cuentaid :" + cuentaSel.target.dataset.cuentaid);

        if (this.cuentaid == cuentaSel.target.dataset.cuentaid) {

          swal({
            type: 'error',
            title: 'Error Transferencia',
            text: 'Las cuentas origen y destino de la operación tienen que ser diferentes',
          })
        } else {
            var altaTransferenciaData = {
              "cuentaid": cuentaSel.target.dataset.cuentaid,
              "tipo": "Ingreso Transferencia",
              "importe": this.importe,
              "observaciones": this.observaciones,
            };

            this.$.doAltaTransferencia.body = JSON.stringify(altaTransferenciaData);
            this.$.doAltaTransferencia.generateRequest();
            console.log("Petición alta mov. enviada");
          }
      }

      manageAJAXResponseAlta(data) {
        console.log("Respuesta Alta Transf. Recibida");
        console.log("Ahora baja de Mov en cuenta origen");

        var saldotrans = data.detail.response.saldopos;
        console.log("Baja - Cuenta origen: " + this.cuentaid);

        var bajaTransferenciaData = {
          "cuentaid": this.cuentaid,
          "tipo": "Transferencia Emitida",
          "importe": this.importe,
          "observaciones": this.observaciones,
        };

        this.$.doBajaTransferencia.body = JSON.stringify(bajaTransferenciaData);
        this.$.doBajaTransferencia.generateRequest();
        console.log("Petición baja transf. enviada");
      }

      manageAJAXResponseBaja(data) {
        console.log("Respuesta Alta Transf. Recibida");
        console.log(data.detail.response);

        var saldotrans = data.detail.response.saldopos;
        console.log("saldo pos: " + saldotrans);
        this.dispatchEvent(
          new CustomEvent(
            "vueltaltatransferencia",
            {
              "detail" : {
                "cuentaid":this.cuentaid,
                "idcliente":this.idcliente,
                "nombre":this.nombre,
                "email":this.email,
                "iban":this.iban,
                "saldo":saldotrans,
              }
            }
          )
        );
      }

      cancelaraltatransferencia() {
        console.log("Se cancela el Alta de la Trans.");

        this.dispatchEvent(
          new CustomEvent(
            "vueltaltatransferencia",
            {
              "detail" : {
                "cuentaid":this.cuentaid,
                "email":this.email,
                "idcliente":this.idcliente,
                "nombre":this.nombre,
                "iban":this.iban,
                "saldo":this.saldo,
              }
            }
          )
        );
      }

      showError(error)  {
        console.log("Hubo un error");
        console.log(error);
      }
    }

    window.customElements.define(MyAltaTransferencia.is, MyAltaTransferencia);
  </script>
</dom-module>
