<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/sweet-alert/sweet-alert.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-altacliente">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <h2 color:#043263>Encantados de darle la Bienvenida a JT Bank</h2>
          <p color:#043263>Por favor, introduzca los siguientes datos.</p>
          <form class="form-horizontal">
            <div class="form-group">
              <label for="nombre" class="col-sm-2 control-label">Nombre:</label>
              <div class="col-sm-6">
                <input type="nombre" class="form-control" id="nombre" value={{nombre::input}}>
              </div>
            </div>
            <div class="form-group">
              <label for="apellidos" class="col-sm-2 control-label">Apellidos:</label>
              <div class="col-sm-6">
                <input type="apellidos" class="form-control" id="apellidos" value={{apellidos::input}}>
              </div>
            </div>
            <div class="form-group">
              <label for="email" class="col-sm-2 control-label">Email:</label>
              <div class="col-sm-6">
                <input type="email" class="form-control" id="email" value={{email::input}}>
              </div>
            </div>
            <div class="form-group">
              <label for="emailconf" class="col-sm-4 control-label">Repita el Email:</label>
              <div class="col-sm-6">
                <input type="emailconf" class="form-control" id="emailconf" value={{emailconf::input}}>
              </div>
            </div>
            <div class="form-group">
              <label for="direccion" class="col-sm-2 control-label">Dirección:</label>
              <div class="col-sm-6">
                <input type="direccion" class="form-control" id="direccion" value={{direccion::input}}>
              </div>
            </div>
            <div class="form-group">
              <label for="ciudad" class="col-sm-2 control-label">Ciudad:</label>
              <div class="col-sm-6">
                <input type="ciudad" class="form-control" id="ciudad" value={{ciudad::input}}>
              </div>
            </div>
            <div class="form-group">
              <label for="pais" class="col-sm-2 control-label">País:</label>
              <div class="col-sm-6">
                <input type="pais" class="form-control" id="pais" value={{pais::input}}>
              </div>
            </div>
            <div class="form-group">
              <label for="telefono" class="col-sm-2 control-label">Teléfono:</label>
              <div class="col-sm-6">
                <input type="telefono" class="form-control" id="telefono" value={{telefono::input}}>
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="col-sm-6 control-label">Password (debe incluir números y letras):</label>
              <div class="col-sm-6">
                <input type="password" class="form-control" id="password" value={{password::input}}>
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="col-sm-6 control-label">Repita la Password:</label>
              <div class="col-sm-6">
                <input type="password" class="form-control" id="password" value={{passwordconf::input}}>
              </div>
            </div>
            <button type="button" class="btn btn-primary" on-click="altaCliente">Alta</button>
            <button type="button" class="btn btn-warning" on-click="limpiarDatos">Limpiar Datos</button>
          </form>
        </div>
      </div>
    </div>

    <!--url="http://localhost:3000/jtbank/v1/altacliente"-->
    <iron-ajax
      id="doAltaCliente"
      method="POST"
      url="http://imagenjtbankv4-altacliente-jtbank.7e14.starter-us-west-2.openshiftapps.com/jtbank/v1/altacliente"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
  </template>

  <script>
    class MyAltaCliente extends Polymer.Element {
      static get is() { return 'my-altacliente'; }
      static get properties() {
        return {
          clienteid: {
            type: Number
          },
          logged: {
            type: Boolean,
            value: false
          }
        }
      }

      altaCliente() {
        console.log("Boton Alta Cliente Pulsado");

        if (this.email == this.emailconf && this.password == this.passwordconf) {

          var altaClienteData = {
            "nombre" : this.nombre,
            "apellidos" : this.apellidos,
            "email" : this.email,
            "direccion" : this.direccion,
            "ciudad" : this.ciudad,
            "pais" : this.pais,
            "telefono" : this.telefono,
            "password" : this.password
          };

          this.$.doAltaCliente.body = JSON.stringify(altaClienteData);
          this.$.doAltaCliente.generateRequest();
          console.log("Petición alta Cliente enviada");
        } else {
            if (this.email == this.emailconf) {
              swal({
                type: 'error',
                title: 'Error Alta Cliente',
                text: 'Revise la password introducida',
              })
            } else {
                swal({
                  type: 'error',
                  title: 'Error Alta Cliente',
                  text: 'Revise el email introducido',
                })
              }
          }
      }

      manageAJAXResponse(data) {
        console.log("Respuesta Alta Cliente Recibida");

        swal({
          type: 'success',
          title: 'Proceso Alta Correcto',
          text: 'Recuerde, para acceder a JT Bank utilice el email indicado',
        })

        this.nombre = null;
        this.apellidos = null;
        this.email = null;
        this.emailconf = null;
        this.direccion = null;
        this.ciudad = null;
        this.pais = null;
        this.telefono = null;
        this.password = null;
        this.passwordconf = null;

        this.dispatchEvent(
          new CustomEvent(
            "altacliente",
            {
              "detail" : {
                "idcliente":data.detail.response.idcliente,
                "email":data.detail.response.email,
                "nombre":data.detail.response.nombre,
              }
            }
          )
        );
      }

      limpiarDatos() {
        console.log("Se limpia el formulario");
        this.nombre = null;
        this.apellidos = null;
        this.email = null;
        this.emailconf = null;
        this.direccion = null;
        this.ciudad = null;
        this.pais = null;
        this.telefono = null;
        this.password = null;
        this.passwordconf = null;
        this.page = "altacliente";
      }

      /*cancelarAltaCliente() {
        console.log("Se cancela el Alta del Cliente");
        this.nombre = null;
        this.apellidos = null;
        this.email = null;
        this.emailconf = null;
        this.direccion = null;
        this.ciudad = null;
        this.pais = null;
        this.telefono = null;
        this.password = null;
        this.passwordconf = null;
        this.page = "altacliente";

        this.dispatchEvent(
          new CustomEvent(
            "cancelaltacliente",
            {
              "detail" : {
                "email":this.email,
                "idcliente":this.idcliente,
                "nombre":this.nombre,
              }
            }
          )
        );
      }*/

      showError(error)  {
        console.log("Hubo un error");
        console.log(error);
        swal({
          type: 'error',
          title: 'Error Alta Cliente',
          text: 'Disculpe, tenemos problemas técnicos. Por favor vuelva a intentarlo pasados unos minutos',
        })
      }
    }

    window.customElements.define(MyAltaCliente.is, MyAltaCliente);
  </script>
</dom-module>
