<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="stylesheet" href="../../bower_components/weather-icons/css/weather-icons.css" type="text/css">
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="weather-styles.html">


<dom-module id="my-bienvenida">

  <template>
    <style include="weather-styles"></style>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }

      google-map {
        height: 460px;
        width: 550px;
        margin-top: 20px;
      }

      .weather__block .wi{
        font-size: 70px;
        color:cornflowerblue;
      }

      .weather__block_min .wi{
        font-size: 40px;
        color:cornflowerblue;
      }

      .cardWeather {
        margin-top: 20px;
        margin-right: 24px;
        margin-left: 24px;
        margin-bottom: 24px;
        padding: 16px;
        color: #043263;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <div class="card">
      <h2>Encantados de recibirte {{nombre}},</h2>
      <br>
      <div class="row">
        <div class="col-md-5 offset-md-1 section__content">
          <div class ="cardWeather">
            <h2 align="center">El tiempo hoy en</h2>
            <h2 align="center"><strong>{{ciudad}}</strong></h2>
            <div class="weather__block">
              <h4 align="center" class="weather_temperature">{{temperaturaHoy}}º C. - {{humedadHoy}}%</h4>
              <br>
              <div class="row">
                <div class="col-md-8 offset-md-5">
                  <div class="weather__block">
                    <i align="center" class$="{{iconoHoy}}"></i>
                  </div>
                </div>
              </div>
              <br>
              <h4 align="center" class="weather_name">{{condicionNombreHoy}}</h4>
            </div>
            <br>
            <div class="row">
              <div class="col-md-4 offset-md-1">
                <h6>{{diaDos}}</h6>
                <div class="weather__block_min">
                  <i class$="{{iconoDos}}"></i>
                  <br><br>
                  <h6 class="weather_name">{{condicionNombreDos}}</h6>
                </div>
              </div>
              <div class="col-md-4">
                <h6>{{diaTres}}</h6>
                <div class="weather__block">
                  <div class="weather__block_min">
                    <i class$="{{iconoTres}}"></i>
                    <br><br>
                    <h6 class="weather_name">{{condicionNombreTres}}</h6>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <h6>{{diaCuatro}}</h6>
                <div class="weather__block">
                  <div class="weather__block_min">
                    <i class$="{{iconoCuatro}}"></i>
                    <br><br>
                    <h6 class="weather_name">{{condicionNombreCuatro}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-5">
          <google-map latitude$="{{latitud}}" longitude="{{longitud}}" zoom="10"
              api-key="AIzaSyDEDwVAn84dUiKmKoHLkQoIssKwu46n_2Q">
          </google-map>
        </div>
      </div>
    </div>

    <!--url="http://localhost:3000/jtbank/v1/cliente/bienvenida/"-->
    <iron-ajax
      id="getTiempo"
      url="http://imagenjtbankv4-bienvenida-jtbank.7e14.starter-us-west-2.openshiftapps.com/jtbank/v1/cliente/bienvenida/"
      handle-as="json"
      on-response="muestraLaPrediccion"
      on-error="showError">
  </template>


  <script>
    class MyBienvenida extends Polymer.Element {
      static get is() { return 'my-bienvenida'; }
      static get properties() {
        return {
          ciudad: {
            type: String,
            value: "madrid",
            observer: '_obtenermeteorologia',
          },
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
        };
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        this.page = page || 'inicial';
      }

      _obtenermeteorologia(nueValue, antValue) {
          this.$.getTiempo.headers.ciudad = this.ciudad;
          this.$.getTiempo.generateRequest();
      }

      muestraLaPrediccion(data) {

        this.condicionNombreHoy = data.detail.response.descripcionHoy;
        this.temperaturaHoy = data.detail.response.temperaturaHoy, 10;
        this.humedadHoy = data.detail.response.humedadHoy, 10;
        this.diaHoy = (data.detail.response.diaHoy);
        this.iconoHoy = ("wi " + data.detail.response.iconoHoy);

        this.diaDos = (data.detail.response.diaDos);
        this.condicionNombreDos = data.detail.response.descripcionDos;
        this.iconoDos = ("wi " + data.detail.response.iconoDos);

        this.diaTres = (data.detail.response.diaTres);
        this.condicionNombreTres = data.detail.response.descripcionTres;
        this.iconoTres = ("wi " + data.detail.response.iconoTres);

        this.diaCuatro = (data.detail.response.diaCuatro);
        this.condicionNombreCuatro = data.detail.response.descripcionCuatro;
        this.iconoCuatro = ("wi " + data.detail.response.iconoCuatro);

        this.latitud = data.detail.response.latitud;
        this.longitud = data.detail.response.longitud;
      }

      showError(error)  {
        console.log("Hubo un error");
        console.log(error);
        swal({
          type: 'error',
          title: 'Error Acceo Aplicación',
          text: 'Disculpe, tenemos problemas técnicos, vuelva a intentarlo',
        })
      }
    }

    window.customElements.define(MyBienvenida.is, MyBienvenida);
  </script>
</dom-module>
