<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-cuentas">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .enlace {
        cursor:pointer
      }
      a.enlace:hoover {
        font-size: 20px
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <div class=row>
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class=row>
            <div class="col-md-9">
              <h4>{{nombre}},</h4>
            </div>
            <div class="col-md-2">
              <button class="btn btn-primary" on-click="altaCuenta">Nueva Cuenta</button>
            </div>
          </div>
          <div class=row>
            <div class="col-md-12">
              <h6 id="text1" hidden$="{{!existencuentas}}">Estas son tus cuentas.</h6>
              <h6 id="text2" hidden$="{{existencuentas}}">No dispone de cuentas. Por favor realice el alta de un Cuenta.</h6>
            </div>
            <div class="col-md-12">
              <h6 id="text3" hidden$="{{!existencuentas}}">Para ver los movimientos de una cuenta, pulsa sobre la misma.</h6>
            </div>
            <br><br>
          </div>
          <template is="dom-repeat" items="{{cuentas}}">
            <h5 id="fila" class="enlace" on-click="verMovimientos" data-iban$="{{item.iban}}" data-cuentaid$={{item.cuentaid}} data-saldo$={{item.saldo}}>IBAN: {{item.iban}}  -  Saldo: {{item.saldo}} &euro;</h5>
            <br>
          </template>
        </div>
      </div>
    </div>

    <!--url="http://localhost:3000/jtbank/v1/cliente/cuentas"-->
    <iron-ajax
      id="getCuenta"
      url="http://imagenjtbankv4-cuentas-jtbank.7e14.starter-us-west-2.openshiftapps.com/jtbank/v1/cliente/cuentas"
      handle-as="json"
      on-response="muestraLasCuentas"
      on-error="showError">

    <!--url="http://localhost:3000/jtbank/v1/clientes/altacuenta/"-->
    <iron-ajax
      id="postCuenta"
      method="POST"
      url="http://imagenjtbankv4-altacuenta-jtbank.7e14.starter-us-west-2.openshiftapps.com/jtbank/v1/clientes/altacuenta/"
      content-type="application/json"
      handle-as="json"
      on-response="_buscarCuentas"
      on-error="showError">
  </template>

  <script>
    class MyCuentas extends Polymer.Element {
      static get is() { return 'my-cuentas'; }
      static get properties() {
        return {
          idcliente: {
            type: Number,
            observer: '_buscarCuentas',
          },
          saldo: {
            type: Number,
            observer: '_buscarCuentas',
          },
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
        };
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        this.page = page || 'login';
      }

      _buscarCuentas(nueValue, antValue) {
          // If no page was found in the route data, page will be an empty string.
          // Default to 'view1' in that case.

          this.$.getCuenta.headers.idcliente = this.idcliente;
          this.$.getCuenta.generateRequest();
      }

      muestraLasCuentas(data) {
        this.cuentas = data.detail.response;
        if (data.detail.response.length > 0) {
          this.cuentas = data.detail.response;
          this.existencuentas = true;
        } else {
          this.existencuentas = false;
        }
      }

      verMovimientos(cuentaSel) {
        console.log("Ver Mov Pulsado. Cuenta: ");
        this.saldo = cuentaSel.target.dataset.saldo;

        this.dispatchEvent(
          new CustomEvent(
            "vermovimientos",
            {
              "detail" : {
                "idcliente":this.idcliente,
                "email":this.email,
                "nombre":this.nombre,
                "cuentaid":cuentaSel.target.dataset.cuentaid,
                "iban":cuentaSel.target.dataset.iban,
                "saldo":cuentaSel.target.dataset.saldo,
                "logged":this.logged
              }
            }
          )
        )
      }

      altaCuenta(data) {
        console.log("Alta Cuenta pulsado");

        var altaCuentaData = {
          "idcliente": this.idcliente
        };
        this.$.postCuenta.body = JSON.stringify(altaCuentaData);
        this.$.postCuenta.generateRequest();
        console.log("Petición enviada");
      }

      showError(error)  {
        if (error.detail.request.status == 404) {
          this.cuentas = null;
          this.existencuentas = false;
        } else {
            console.log("Hubo un error");
            console.log(error);
            swal({
              type: 'error',
              title: 'Mostrar Cuentas',
              text: 'Disculpe, tenemos problemas técnicos, vuelva a intentarlo',
            })
          }
      }
    }

    window.customElements.define(MyCuentas.is, MyCuentas);
  </script>
</dom-module>
