<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-datoscliente">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class=row>
            <div class="col-md-12">
              <h4>{{nombre}},</h4>
              <p>Estos son tus datos. Puede Modificar cualquier dato que necesite, excepto el email.</p>
              <p>Si desea modificar el email, por favor contacte con nuestro Servicio de Atención al Cliente</p>
            </div>
          </div>
          <form class="form-horizontal">
            <div class="form-group">
              <label for="nombre" class="col-sm-2 control-label">Nombre:</label>
              <div class="col-sm-6">
                <input type="nombre" class="form-control" id="nombre" value={{nombre::input}}>
              </div>
            </div>
            <div class="form-group">
              <label for="apellidos" class="col-sm-2 control-label">Apellidos:</label>
              <div class="col-sm-6">
                <input type="apellidos" class="form-control" id="apellidos" value={{apellidos::input}}>
              </div>
            </div>
            <div class="form-group">
              <label for="email" class="col-sm-2 control-label">Email:</label>
              <div class="col-sm-6">
                <input type="email" class="form-control" id="email" value={{email::input}} readonly ="readonly">
              </div>
            </div>
            <div class="form-group">
              <label for="direccion" class="col-sm-2 control-label">Dirección:</label>
              <div class="col-sm-6">
                <input type="direccion" class="form-control" id="direccion" value={{direccion::input}}>
              </div>
            </div>
            <div class="form-group">
              <label for="ciudad" class="col-sm-2 control-label">Ciudad:</label>
              <div class="col-sm-6">
                <input type="ciudad" class="form-control" id="ciudad" value={{ciudad::input}}>
              </div>
            </div>
            <div class="form-group">
              <label for="pais" class="col-sm-2 control-label">País:</label>
              <div class="col-sm-6">
                <input type="pais" class="form-control" id="pais" value={{pais::input}}>
              </div>
            </div>
            <div class="form-group">
              <label for="telefono" class="col-sm-2 control-label">Teléfono:</label>
              <div class="col-sm-6">
                <input type="telefono" class="form-control" id="telefono" value={{telefono::input}}>
              </div>
            </div>
            <button type="button" class="btn btn-primary" on-click="modCliente">Modificar</button>
            <button type="button" class="btn btn-warning" on-click="cancelarDatosCliente">Restablecer</button>
          </form>
        </div>
      </div>
    </div>

    <!--url="http://localhost:3000/jtbank/v1/clientes/datoscliente/""-->
    <iron-ajax
      id="getDatosCliente"
      url="http://imagenjtbankv4-datoscliente-jtbank.7e14.starter-us-west-2.openshiftapps.com/jtbank/v1/clientes/datoscliente/"
      handle-as="json"
      on-response="muestraDatosCliente"
      on-error="showError">

    <!--url="http://localhost:3000/jtbank/v1/cliente/modcliente/"-->
    <iron-ajax
      id="modDatosCliente"
      method="POST"
      url="http://imagenjtbankv4-modcliente-jtbank.7e14.starter-us-west-2.openshiftapps.com/jtbank/v1/cliente/modcliente/"
      content-type="application/json"
      handle-as="json"
      on-response="muestraDatosCliente"
      on-error="showError">
  </template>

  <script>
    class MyDatosCliente extends Polymer.Element {
      static get is() { return 'my-datoscliente'; }
      static get properties() {
        return {
          idcliente: {
            type: Number,
            observer: '_buscarDatosCliente',
          },
          email: {
            type: Text,
            observer: '_buscarDatosCliente',
          },
          modificacion: {
            type: Number,
            value: 0,
          },
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
        };
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        this.page = page || 'login';
      }

      _buscarDatosCliente(nueValor, antValor) {
          // If no page was found in the route data, page will be an empty string.
          // Default to 'view1' in that case.
          this.$.getDatosCliente.headers.idcliente = this.idcliente;
          this.$.getDatosCliente.generateRequest();
      }

      muestraDatosCliente(data) {

        this.nombre = data.detail.response.nombre;
        this.email = data.detail.response.email;
        this.apellidos = data.detail.response.apellidos;
        this.direccion = data.detail.response.direccion;
        this.ciudad = data.detail.response.ciudad;
        this.pais = data.detail.response.pais;
        this.telefono = data.detail.response.telefono;

        if (this.modificacion == 1) {
          swal({
            type: 'success',
            title: 'Modificacion datos Cliente',
            text: 'Los datos se han modificado correctamente',
          })
        }
        this.modificacion = 0;
      }

      modCliente(data) {

        var modClienteData = {
          "idcliente" : this.idcliente,
          "nombre" : this.nombre,
          "apellidos" : this.apellidos,
          "direccion" : this.direccion,
          "ciudad" : this.ciudad,
          "pais" : this.pais,
          "telefono" : this.telefono
        };
        this.modificacion = 1;
        this.$.modDatosCliente.body = JSON.stringify(modClienteData);
        this.$.modDatosCliente.generateRequest();
        console.log("Petición alta Cliente enviada");
      }

      cancelarDatosCliente(data) {
        console.log("Ver Mov Pulsado. Cuenta: ");

        this.$.getDatosCliente.generateRequest();
      }

      showError(error)  {
        console.log("Hubo un error");
        console.log(error);
        swal({
          type: 'error',
          title: 'Error Modificacion datos',
          text: 'Lo sentimos, no se realizó la modificación. Inténtelo pasados unos minutos',
        })
      }
    }

    window.customElements.define(MyDatosCliente.is, MyDatosCliente);
  </script>
</dom-module>
