<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/google-map/google-map.html">
<link rel="import" href="shared-styles.html">


<dom-module id="my-inicial">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <img src="https://s3-eu-west-1.amazonaws.com/jtbank/JT_Inicio.jpg" alt="JT Bank" height=620 width=1500/>

  </template>

  <script>
    class MyInicial extends Polymer.Element {
      static get is() { return 'my-inicial'; }
      static get properties() {
        return {
          logged: {
            type: Boolean,
            value: false
          }
        }
      }
    }

    window.customElements.define(MyInicial.is, MyInicial);
  </script>
</dom-module>
