<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-logout">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <div class="row">
      <div class="col-md-4 offset-md-4">
        <div class="card">
          <div class="form-group text-center">
            <h3>Gracias por Visitarnos</h3>
            <h6>Esperamos verte pronto de vuelta</h6>
          </div>
          <div class="form-group text-center">
            <button class="btn btn-success" on-click="dologout">Desconectar</button>
          </div>
          <div class="form-group">
            <p>Por favor pulse para confirmar que desea cerrar la aplicacion</p>
          </div>
        </div>
      </div>
    </div>

    <!--url="http://localhost:3000/jtbank/v1/logout"-->
    <iron-ajax
      id="doLogout"
      method="POST"
      url="http://imagenjtbankv4-logout-jtbank.7e14.starter-us-west-2.openshiftapps.com/jtbank/v1/logout"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
  </template>

  <script>
    class MyLogout extends Polymer.Element {
      static get is() { return 'my-logout'; }

      dologout() {
        var logoutData = {
          "email": this.email
        };

        this.$.doLogout.body = JSON.stringify(logoutData);
        this.$.doLogout.generateRequest();
        console.log("Petición enviada");
      }

      manageAJAXResponse(data) {
        console.log("Respuesta Recibida");
        console.log(data.detail.response);
        this.nombre = null;
        this.clienteid = null;
        this.logged = false;

        this.dispatchEvent(
          new CustomEvent(
            "dologout",
            {
              "detail" : {
                "logged":this.logged
              }
            }
          )
        );
      }

      showError(error)  {
        console.log("Hubo un error");
        console.log(error);
        swal({
          type: 'error',
          title: 'Error Logout',
          text: 'Se produjo un error al salir de la aplicación',
        })
      }

    }

    window.customElements.define(MyLogout.is, MyLogout);
  </script>
</dom-module>
