<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/sweet-alert/sweet-alert.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-login">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }

    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <div class="row">
      <div class="col-md-4 offset-md-4">
        <div class="card">
          <div class="form-group">
            <h4>Hola,</h4>
            <h6>Por favor, introduce tus datos de acceso.</h6>
          </div>
          <div class="form-group">
            <input type="email" placeholder="Email" class="form-control" value="{{email::input}}"/>
            <br>
            <input type="password" placeholder="Password" class="form-control" value="{{password::input}}"/>
            <br>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" on-click="dologin">Login</button>
          </div>
          <div class="form-group">
            <p class="help-block"><em>Si no recuerda el email o la password de acceso, por favor contacte con nuestro Servicio de Atención al Cliente.</em></p>
          </div>
        </div>
      </div>
    </div>

    <!--url="http://localhost:3000/jtbank/v1/login"-->
    <iron-ajax
      id="doLogin"
      method="POST"
      url="http://imagenjtbankv4-login-jtbank.7e14.starter-us-west-2.openshiftapps.com/jtbank/v1/login"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
  </template>

  <script>
    class MyLogin extends Polymer.Element {
      static get is() { return 'my-login'; }
      static get properties() {
        return {
          clienteid: {
            type: Number
          },
          logged: {
            type: Boolean,
            value: false
          }
        }
      }

      dologin() {

        var loginData = {
          "email": this.email,
          "password": this.password
        };
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Petición enviada");
      }

      cancelogin() {

        this.email = null;
        this.password = null;
        this.page = "login";

        this.dispatchEvent(
          new CustomEvent(
            "cancelogin",
            {
              "detail" : {
                "email":this.email,
                "idcliente":this.idcliente,
                "nombre":null,
              }
            }
          )
        );
      }

      manageAJAXResponse(data) {

        this.email = null;
        this.password = null;
        this.logged = true;

        this.dispatchEvent(
          new CustomEvent(
            "dologin",
            {
              "detail" : {
                "nombre":data.detail.response.nombre,
                "idcliente":data.detail.response.idcliente,
                "email":data.detail.response.email,
                "pais":data.detail.response.pais,
                "ciudad":data.detail.response.ciudad,
                "logged":this.logged,
              }
            }
          )
        );
      }

      showError(error)  {

        swal({
          type: 'error',
          title: 'Error Validacion',
          text: 'Email o Password incorrectos. Por Favor Introduzcalos de nuevo',
        })
      }
    }

    window.customElements.define(MyLogin.is, MyLogin);
  </script>
</dom-module>
