<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-movimientos">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }

      .cardMov {
        margin-top: 24px;
        margin-right: 24px;
        margin-left: 24px;
        margin-bottom: 24px;
        padding: 16px;
        color: #043263;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <div class=row>
        <div class="col-md-9 offset-md-1">
          <div class="card">
            <div class=row>
              <div class="col-md-8">
                <h4>Consulta de Movimientos</h4>
                <br>
                <h5>Cuenta: <strong>{{iban}}</strong></h5>
                <h5>Saldo Actual: <strong>{{saldo}} &euro;</strong></h5>
              </div>
              <div class="col-md-4">
                <button class="btn btn-primary" on-click="altaMovimiento" data-iban$="{{iban}}" data-cuentaid$={{cuentaid}} data-saldo$={{saldo}}>Nuevo Movimiento</button>
                <button class="btn btn-warning" on-click="vueltaCuentas">Volver</button>
              </div>
            </div>
            <div class=row>
              <div class="col-md-12" hidden$="{{!nuevomov}}">
                <br>
                <div class="cardMov">
                  <h6>Introduzca los datos del nuevo movimiento:</h6>
                  <br>
                  <div class=row>
                    <div class="col-md-4">
                      <select name="tipo" class="form-control" value="{{tiponuemov::input}}">
                        <option selected="true" disabled="disabled">Tipo de Movimiento</option>
                        <option value="Ingreso de Efectivo">Ingreso de efectivo</option>
                        <option value="Ingreso de Nomina">Ingreso de nómina</option>
                        <option value="Retirada en efectivo">Retirada en efectivo</option>
                        <option value="Transferencia">Transferencia</option>
                      </select>
                    </div>
                    <div class="col-md-2">
                      <input type="text" class="form-control" placeholder="Importe" value="{{importenuemov::input}}"/>
                    </div>
                    <div class="col-md-6">
                      <input type="text" class="form-control" placeholder="Observaciones" value="{{observacionesnuemov::input}}"/>
                    </div>
                  </div>
                  <br>
                  <div class=row>
                    <div clas="col-md-4">
                      <button class="btn btn-success" on-click="doaltamovimiento">Alta Movimiento</button>
                      <button class="btn btn-warning" on-click="cancelaraltamovimiento">Cancelar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </br>
            <h6 id="text1" hidden$="{{!existenmovimientos}}"><strong>Estas son los movimientos de la cuenta:</strong></h5>
            <br>
            <h6 id="text2" hidden$="{{existenmovimientos}}"><strong>La cuenta seleccionada no tiene movimientos</strong></h5>

            <template is="dom-repeat" items="{{movimientos}}">
              <p hidden$="{{!existenmovimientos}}">{{item.fecha}} - {{item.hora}}, Importe {{item.importe}} &euro;, Tipo Mov: {{item.tipo}}, Saldo {{item.saldopos}} &euro;, Observaciones: {{item.observaciones}} </p>
              </br>
            </template>
          </div>
        </div>
    </div>

    <!--url="http://localhost:3000/jtbank/v1/cuenta/movimientos"-->
    <iron-ajax
      id="getMovimientos"
      url="http://imagenjtbankv4-movimientos-jtbank.7e14.starter-us-west-2.openshiftapps.com/jtbank/v1/cuenta/movimientos"
      handle-as="json"
      on-response="muestraLosMovimientos"
      on-error="showError">

    <!--url="http://localhost:3000/jtbank/v1/cuenta/altamovimiento"-->
    <iron-ajax
      id="doAltaMovimiento"
      method="POST"
      url="http://imagenjtbankv4-altamovimiento-jtbank.7e14.starter-us-west-2.openshiftapps.com/jtbank/v1/cuenta/altamovimiento"
      content-type="application/json"
      handle-as="json"
      on-response="recuperaMovimientos"
      on-error="showError">
  </template>

  <script>
    class MyMovimientos extends Polymer.Element {
      static get is() { return 'my-movimientos'; }
      static get properties() {
        return {
          cuentaid: {
            type: Number,
            observer: '_buscarMovimientos',
          },
          saldo:{
            type: Number,
            observer: '_buscarMovimientos',
          },
          nuevomov:{
            type: Boolean,
             value: false,
          },
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
        };
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        this.page = page || 'login';
      }

      _buscarMovimientos(newId, oldId) {
          // If no page was found in the route data, page will be an empty string.
          // Default to 'view1' in that case.
          this.$.getMovimientos.headers.cuentaid = this.cuentaid;
          this.$.getMovimientos.generateRequest();
      }

      recuperaMovimientos(data) {
          // If no page was found in the route data, page will be an empty string.
          // Default to 'view1' in that case.
          this.saldo = data.detail.response.saldopos;
          this.$.getMovimientos.headers.cuentaid = this.cuentaid;
          this.$.getMovimientos.generateRequest();
      }
      muestraLosMovimientos(data) {
        if (data.detail.response.length > 0) {
          this.movimientos = data.detail.response;
          this.existenmovimientos = true;
        } else {
          this.existenmovimientos = false;
        }
        console.log ("Nuevomov: " + this.nuevomov);
        if (this.nuevomov) {
          swal({
            type: 'success',
            title: 'Proceso Alta Correcto',
            text: 'Se ha grabado el nuevo movimiento',
          });
          this.importenuemov = null;
          this.observacionesnuemov = null;
          this.tiponuemov = "Ingreso de Efectivo";
          this.nuevomov = false;
        }
      }

      altaMovimiento(cuentaSel) {
        console.log("Alta Mov Pulsado. Cuenta: ");
        this.nuevomov = true;
      }

      vueltaCuentas(cuentaSel) {
        console.log("Boton Volver Pulsado cliente: ");

        this.dispatchEvent(
          new CustomEvent(
            "vueltamovimientos",
            {
              "detail" : {
                "idcliente":this.idcliente,
                "nombre":this.nombre,
                "saldo":this.saldo,
                "email":this.email
              }
            }
          )
        );
      }

      doaltamovimiento() {
        console.log("Boton Alta Movimiento Pulsado");
        if (this.tiponuemov == undefined){
         this.tiponuemov = "Ingreso de Efectivo";
        }
        if (this.tiponuemov === "Transferencia") {

          this.dispatchEvent(
            new CustomEvent(
              "transferencia",
              {
                "detail" : {
                  "cuentaid":this.cuentaid,
                  "idcliente":this.idcliente,
                  "nombre":this.nombre,
                  "email":this.email,
                  "iban":this.iban,
                  "saldo":this.saldo,
                  "importe":this.importenuemov,
                  "observaciones":this.observacionesnuemov,
                }
              }
            )
          );
        } else {

            var altaMovimientoData = {
              "cuentaid": this.cuentaid,
              "tipo": this.tiponuemov,
              "importe": this.importenuemov,
              "observaciones": this.observacionesnuemov,
            };

            this.$.doAltaMovimiento.body = JSON.stringify(altaMovimientoData);
            this.$.doAltaMovimiento.generateRequest();
            console.log("Petición alta mov. enviada");
          }
      }

      cancelaraltamovimiento() {
        console.log("Se cancela el Alta del Mov.");

        this.importenuemov = null;
        this.observacionesnuemov = null;
        this.tiponuemov = "Ingreso de Efectivo";
        this.nuevomov = false;
      }

      showError(error)  {
        if (error.detail.request.status == 404) {
          this.movimientos = null;
          this.existenmovimientos = false;
        } else {
          console.log("Hubo un error");
          console.log(error);
          }
          swal({
            type: 'error',
            title: 'Mostrar Movimientos de Cuentas',
            text: 'Disculpe, tenemos problemas técnicos, vuelva a intentarlo',
          })
      }
    }

    window.customElements.define(MyMovimientos.is, MyMovimientos);
  </script>
</dom-module>
