<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-notificaciones">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <div class=row>
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class=row>
            <div class="col-md-9">
              <h4>{{nombre}},</h4>
            </div>
          </div>
          <div class=row>
            <div class="col-md-12">
              <p>Estas son tus notificaciones:</p>
            </div>
            <br><br>
          </div>
          <template is="dom-repeat" items="{{notificaciones}}">
            <table class="table table-hover">
              <tbody>
                <tr>
                  <td width="120px"><button class="btn btn-primary" hidden$="{{item.leido}}" on-click="editNotificacion" data-notificacionid$="{{item.notificacionid}}" data-idcliente$={{item.idcliente}}>Recibido</button></td>
                  <td>{{item.fecha}} {{item.detalle}}</td>
                  <!--<td><button class="btn btn-primary" hidden$="{{item.leido}}" on-click="editNotificacion" data-notificacionid$="{{item.notificacionid}}" data-idcliente$={{item.idcliente}}>Recibido</button></td>-->
                </tr>
              </tbody>
            </table>
          </template>
        </div>
      </div>
    </div>

    <!--url="http://localhost:3000/jtbank/v1/cliente/notificaciones"-->
    <iron-ajax
      id="getNotificaciones"
      url="http://imagenjtbankv4-notificaciones-jtbank.7e14.starter-us-west-2.openshiftapps.com/jtbank/v1/cliente/notificaciones/"
      handle-as="json"
      on-response="muestraLasNotificaciones"
      on-error="showError">

      <!--http://localhost:3000/jtbank/v1/clientes/editnotificacion/"-->
      <iron-ajax
        id="postNotificacion"
        method="POST"
        url="http://imagenjtbankv4-editnotificacion-jtbank.7e14.starter-us-west-2.openshiftapps.com/jtbank/v1/clientes/editnotificacion/"
        content-type="application/json"
        handle-as="json"
        on-response="_buscarNotificaciones"
        on-error="showError">
  </template>

  <script>
    class MyNotificaciones extends Polymer.Element {
      static get is() { return 'my-notificaciones'; }
      static get properties() {
        return {
          idcliente: {
            type: Number,
            observer: '_buscarNotificaciones',
          },
          modificacion: {
            type: Number,
            value: 0,
          },
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
        };
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        this.page = page || 'login';
      }

      _buscarNotificaciones(nueValue, antValue) {
          // If no page was found in the route data, page will be an empty string.
          // Default to 'view1' in that case.
          this.$.getNotificaciones.headers.idcliente = this.idcliente;
          this.$.getNotificaciones.generateRequest();
      }

      muestraLasNotificaciones(data) {
        this.notificaciones = data.detail.response;
        if (this.modificacion == 1) {
          swal({
            type: 'success',
            title: 'Notificaiones',
            text: 'El aviso se marcó como leído correctamente',
          })
        }
        this.modificacion = 0;
      }

      editNotificacion(notificacionSel) {
        console.log("Recibido pulsado");

        var editNotificacionData = {
          "notificacionid": notificacionSel.target.dataset.notificacionid
        };
        this.$.postNotificacion.body = JSON.stringify(editNotificacionData);
        this.$.postNotificacion.generateRequest();
        this.modificacion = 1;
        console.log("Petición enviada");
      }

      showError(error)  {
        console.log("Hubo un error");
        console.log(error);
        console.log("error.detail.request.status: " + error.detail.request.status);

        if (error.detail.request.status == 404) {
          swal({
            type: 'warning',
            title: 'Mostrar Notificaciones',
            text: 'Actualmente no dispone de notificaciones',
          })

        } else {
            swal({
              type: 'error',
              title: 'Error Mostrar Notificaciones',
              text: 'Lo sentimos, se ha producido un error. Inténtelo pasados unos minutos',
            })
          }
      }
    }

    window.customElements.define(MyNotificaciones.is, MyNotificaciones);
  </script>
</dom-module>
